<%= render 'share/header' %>
<div class="main">
  <div class='container'>
    <% flash.each do |k, v| %>
      <div class="alert alert-<%= k %>">
        <%= v %>
      </div>
    <% end %>
    <div class= 'top'>
      <div class="form">
        <h1>登陆</h1>
        <%= form_tag sessions_path do %>

          <div class="form-group">  
            <%= label_tag :email, '邮箱' %>
            <%= text_field_tag :email , nil, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= label :password, '密码' %>
            <%= password_field_tag :password ,nil,  class: 'form-control'%>
          </div>
          <%= submit_tag "登陆", class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%=render 'share/footer' %>
