<<<<<<< HEAD
<%= render "share/header" %>
<div class="main">
  <div class="container">
    <%= form_for [current_user, @app] do |f| %>
      <%= f.label 'App Name' %><%= f.text_field :name %>
      <br />
      <%= f.submit'Create App' %>
    <% end %>
  </div>

  <!-- Button trigger modal -->
  <%= button_to "传感器", sensors_path, remote: true, method: :get, "data-toggle" => "modal", class: "btn btn-primary btn-lg", "data-target" => "#sensor" %>
  <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sensor" >
   传感器 
 </button>-->
  
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#actuator">
   执行器 
  </button>
  <!-- sensor Modal -->
  <div class="modal fade" id="sensor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Sensor</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'sensors/list', locals: { sensors: @sensors}  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- actuator Modal -->
  <div class="modal fade" id="actuator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Actuator</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
          <%#= button_to "A post", @post, remote: true %>
        </div>
      </div>
    </div>
  </div>

  <%= render "share/footer" %>
=======
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<%= render "share/header" %>
<div>
<button class="btn btn-lg" data-toggle="modal" data-target="CreateSensor">
	Create Sensor
</button>
<button class="btn btn-lg" data-toggle="modal" data-target="CreateActuator">
	Create Actuator
</button>
	<div class="moda fade" id="CreateSensor" tabindex="-1" role="dialog" aria-labelledby="SensorLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				sensor contents
			</div>
		</div>
	</div>
</div>

<%= render "share/footer" %>
>>>>>>> e84f2a50d3ef7ce7b4b68a0c31e5373b68a7db13
