<%= render "share/header" %>
<h1></br></br></h1>
<div class="container">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
		  <li class="active">
        <a class="mytab" href="#iamdeveloper" data-toggle="tab">我是开发者</a>
      </li>
      <li>
        <a class="mytab" href="#resourceregister" data-toggle="tab">资源注册</a>
      </li>
      <li>
        <a class="mytab" href="#myresource" data-toggle="tab">我的资源</a>
      </li>
    </ul>
  <div class="tab-content">
  <div class="tab-pane fade active in" id="iamdeveloper">
    <h2>开发者SDK下载</h2>

		<h4>开发者SDK使您快速完成Sensor/Actuator的开发,移动端开发请下载iOS/Android SDK，PC端开发请下载PC 版SDK</h4>
		<%= link_to "Download fo ISO", "#" %></br>
		<%= link_to "Download fo Android", "#" %></br>
		<%= link_to "Download fo PC", "#" %>

		<h2>Eclipse开发插件</h2>
		<h4>Eclipse开发插件帮助您在Eclipse中封装已有的业务逻辑，迅速接入平台</h4>
    <%= link_to "Download Eclipse Plugin", "#" %>

		<h2>API Key</h2>
		<h4>API Key帮助我们识别您的作品</h4>		
		<%= link_to "获取API Key", "#" %>

	</div>
  <div class="tab-pane fade" id="resourceregister">
   	
      <%= render "sensors/form" %>
  
  </div>
  <div class="tab-pane fade" id="myresource">
    
        <h1>my sources</h1>
     
    </div>
  </div>
</div>
</div>

<%= render "share/footer" %>

