<%= render "share/header" %>
<div id="wrap" style="padding-top:25px">
  <div class="container">
    <div class="row">
        <h1 style="color:#CCC;font-size:48px;text-align:center"> 让世界围你转动 </h1>
      
      <div class="col-md-3 col-md-offset-2"  style="background:url(img/grey.png);text-align:center">
        <% if !login? %>
        <%= form_tag sessions_path do %>
            <div class="form-group" >
              <div class="col-md-10 col-md-offset1">
                <%= label_tag :email %>
                <%= text_field_tag :email %>
              </div>
            </div>
            <div class="form-group" >
              <div class="col-md-10 col-md-offset1">
                <%=  label_tag :password %>
                <%= text_field_tag :password %>
              </div>
            </div>
            <%= submit_tag "Log in", :class=>"btn btn-primary" %>
        <% end %>
        <% end %>
        <%= button_to "sign up", sign_up_path, :method=> "get", :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>

</div>
<%= render"share/footer" %>
