
<div class="main"> 
  <div class="top">
    <div class="container">
      <h1>让世界,绕<span class="you">你</span>转动</h1>
      <h3>Let the WORLD go round for YOU!</h3>

			<h3 style="color: red;position:absolute;left:800px;top:260px;">本项目受到国家863课题支持</h3>
    </div>
  </div>
  <div class="middle">
    <div class="container">
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 resourcelist">
          <div class="col-md-6"> <%= image_tag "u1.png", :class => "img-responsive" %> </div>
          <div class="col-md-6"> <%= image_tag "u2.png", :class => "img-responsive" %> </div>
          <div class="col-md-6"> <%= image_tag "u3.png", :class => "img-responsive" %> </div>
          <div class="col-md-6"> <%= image_tag "u4.png", :class => "img-responsive" %> </div>
          <div class="col-md-6"> <%= image_tag "u5.png", :class => "img-responsive" %> </div>
          <div class="col-md-6"> <%= image_tag "u6.png", :class => "img-responsive" %> </div>
        </div>
        <div class="col-md-8"> <%= image_tag "map.jpg", :class => "img-responsive" %> </div>
      </div>
    </div>
  </div>
</div>
</div>
