<h2>注册新的执行器</h2>
<%= form_for [current_user, @actuator] do |f| %>
  
  <div class='form-group'> 
    <%= f.label :name, '名称' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :capbility, '执行器描述ML' %>
    <%= f.text_area :capbility, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url, '执行器url'%>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <%= f.submit '注册', class: 'btn btn-lg btn-default' %>
<% end %>
