<ul>
	<% if actuators %>
		<% actuators.each_index do |i| %>
			<li><%= link_to actuators[i].name, actuators[i], {remote: true} %></li>
			<% identifications[i].each do |k,v| %>
				<li><%= k %>:</br><%= v %></li>
			<% end %>
			<% descriptions[i].each do |k,v| %>
				<li><%= k %></br><%= v %></li>
			<% end %>
		<% end %>
	<% end %>
</ul>
