<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capbility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% if @actuators %>
    <% @actuators.each do |actuator| %>
      <tr>
        <td><%= actuator.name %></td>
        <td><%= actuator.capbility %></td>
        <td><%= link_to 'Show', actuator %></td>
        <td><%= link_to 'Edit', edit_actuator_path(actuator) %></td>
        <td><%= link_to 'Destroy', actuator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actuator', new_actuator_path %>
