<ul>
	<% if sensors %>
		<% sensors.each_index do |i| %>
			<li><%= link_to sensors[i].name, sensors[i], {remote: true} %></li>
			
			<% identifications[i].each do |k,v| %>
				<li><%= k.to_s %>:</br><%= v.to_s %><li>
			<% end %>
			<% descriptions[i].each do |k,v| %>
				<li><%= k.to_s %>:</br><%= v.to_s %></li>
			<% end %>
		<% end %>
	<% end %>
</ul>
