<table class="table table-bordered">
<thead>
  <tr>
    <th>名称 </th>
    <th>描述 </th>
    <th>传感器ID </th>
    <th>执行器ID </th>
		<th>开关状态 </th>
		<th>删除 </th>
  </tr>
</thead>
<tbody>
<% @apps.each do |app| %>
	<tr>
		<td><%= app.name %></td>
		<td><%= app.description %></td>
		<td><%= app.sensor_id %></td>
		<td><%= app.actuator_id %></td>
		<td><input type="checkbox" name="my-checkbox" checked></td>
		<td><%= link_to 'Destroy', [current_user, app], method: :delete ,data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</tbody>
</table>
